{% extends "base.html" %}

{% block title %}Home | Expense Tracker{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <p class="eyebrow">Simple money management</p>

        <h1>Understand where your money goes.</h1>

        <p class="intro">
            Record your income and expenses, organise transactions
            by category, and understand your monthly spending.
        </p>


        <div class="hero-actions">
            {% if current_user.is_authenticated %}
                <a
                    class="button primary-button"
                    href="{{ url_for('main.dashboard') }}"
                >
                    Open dashboard
                </a>
            {% else %}
                <a
                    class="button primary-button"
                    href="{{ url_for('auth.register') }}"
                >
                     Create free account
                </a>

                <a
                    class="button secondary-button"
                    href="{{ url_for('auth.login') }}"
                >
                    Log in
                </a>
            {% endif %}
        </div>
        
    </div>

    <div class="summary-card">
        <p>Current monthly balance</p>
        <h2>$0.00</h2>

        <div class="summary-row">
            <span>Income</span>
            <strong class="income">$0.00</strong>
        </div>

        <div class="summary-row">
            <span>Expenses</span>
            <strong class="expense">$0.00</strong>
        </div>
    </div>
</section>
{% endblock %}